VITE_SUPABASE_URL=https://foalnusfxhqmpyfgnnzz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvYWxudXNmeGhxbXB5Zmdubnp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1NzAzMjksImV4cCI6MjA5NTE0NjMyOX0.wXYMdFgjU-aRZkrsNGTXuiv7l12nybU-92cBFkF9uqs
